includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 10
    ignoreErrors:
        # External API responses (config, file_get_contents, etc)
        - '#Cannot access offset.*on mixed#'
        - '#Parameter.*expects.*mixed#'
        - '#Method.*return type has no value type specified#'
        - '#Cannot call method.*on mixed#'
        - '#Binary operation.*mixed#'
        - '#Cannot access property.*on Illuminate#'
        - '#Access to an undefined property Illuminate#'
        - '#Cannot cast mixed to#'
        - '#Part.*of encapsed string cannot be cast#'
        - '#Property.*has no type specified#'
        - '#Property.*does not exist#'
        - '#has no return type specified#'
        - '#has parameter.*with no type specified#'
        - '#has parameter.*with no value type specified#'
        - '#Cannot call method.*on Carbon#'
        - '#Cannot call method.*on App.*User.*null#'
        - '#Unable to resolve the template type#'
        - '#Offset.*does not exist#'
        - '#should return.*but returns#'
        - '#Access to an undefined property App#'
        - '#Cannot access property.*on mixed#'
        - '#expects string#'
        - '#does not accept mixed#'
        - '#Cannot call method.*on class-string#'
        - '#with generic class.*does not specify#'
        - '#Ternary operator condition is always#'
        - '#Cannot access property.*on App\\Models#'
        - '#Cannot call method.*on array#'
        - '#expects resource#'
        - '#Call to an undefined method#'
        - '#Possibly invalid array key#'
        - '#expects App\\Models#'
        - '#Property.*type has no value type specified#'
        - '#expects int#'
        - '#Using nullsafe property access.*on left side of ?? is unnecessary#'
        - '#Parameter.*expects array#'
        - '#Relation.*is not found#'
        - '#does not accept int#'
        - '#Strict comparison#'
        - '#invalid type mixed supplied for foreach#'
        - '#invalid type array#'
        - '#Cannot call method toDateString#'
        - '#Comparison operation.*is always true#'
        - '#Call to function method_exists.*will always evaluate#'
        - '#expects Illuminate#'
        - '#does not specify its types#'
        - '#Offset.*might not exist#'
        - '#Using nullsafe property access on non-nullable#'
        - '#caught class.*not found#'
        - '#Using nullsafe property access.*unnecessary#'
        - '#Match arm comparison.*is always true#'
        - '#Empty array passed to foreach#'
        - '#Cannot assign#'
        - '#does not accept array#'
        - '#Parameter.*expects numeric#'
        - '#Class.*not found#'
        - '#will always evaluate to false#'
        - '#Result of.*is always true#'
        - '#Unreachable statement#'
        - '#PHPDoc type.*is not covariant#'
        - '#Offset.*always exists#'
        - '#invalid type string supplied for foreach#'
        - '#has invalid type#'
        - '#Access to property.*on an unknown class#'
        - '#Call to an undefined static method#'
        - '#Constant.*is unused#'
        - '#contains unresolvable type#'
        - '#expects float#'
        - '#Cannot access an offset on mixed#'
        - '#expects Carbon\\Carbon#'
        - '#is unused#'
        - '#Cannot call method.*null#'
        - '#Cannot use \\+\\+ on mixed#'
        - '#Call to function is_array.*will always evaluate#'
        - '#Comparison operation.*is always#'
        - '#Result of && is always#'
        - '#Cannot call method diffInSeconds#'
        - '#Variable.*on left side of#'
        - '#Instanceof between.*will always evaluate#'
        - '#Cannot call method addSeconds#'
        - '#Right side of && is always#'
        - '#Negated boolean expression is always#'
        - '#Left side of && is always#'
        - '#Called.*on Laravel collection#'
        - '#expects.*StreamInterface#'
        - '#Cannot access offset#'
        - '#postInc.type#'
        - '#class.*not found#'
        - '#expects class-string#'
        - '#Cannot use#'
    reportUnmatchedIgnoredErrors: false
